@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

h2 {
  margin: 15px 0;
}

/* Utility classes */

.container {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.violet {
  background-color: hsl(263, 55%, 52%);
  color: white;
}

.grey {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

.light {
  background-color: hsl(0, 0%, 100%);
}

.dark {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}

/* Testimonal Card */

.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.card:nth-of-type(1) {
  grid-column: 1/3;
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.card:nth-of-type(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}

.card:nth-of-type(5) {
  grid-column: 4/5;
  grid-row: 1/3;
}

/*  Card */
.card_head {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 2px solid #996ed9;
}

.light .avatar {
  border: none;
}

.card_head h3 {
  font-size: 15px;
}

.card_head p {
  opacity: 50%;
  font-weight: 500;
}

.card blockquote {
  opacity: 70%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsiveness */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }

  .card:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1/2;
  }
  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4/5;
  }

  .card:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }
}
